* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color:
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 0.5rem;
    background-color: white;
}
.header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding-right: 0.5rem;
}

.nav {
    display: flex;
    align-items:
}
.logo {
    height: 68px;
    width: %;
    background-color: transparent;
}

.logoresize {
    height: 50%;
    width: 200px;
    background-color: transparent;
    display: flex;
    margin-top: 10px;
    padding: 0;
    padding-left: 20px;
}
.iconbtn {
    background-color: transparent;
    border: none;
    color: green;
    font-size: 24px;
    cursor: pointer;
    margin-bottom:
    cursor: pointer;

}
#profilebtn {
    margin-left: 70px;
    margin-right: 20px;
}
.searchsection {
    background-color:
    justify-content: space-between;
    display: flex;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
    padding: 10px;
    color: white;
    width: 90%;
    border-radius: 15px;
    height: 40px;
    margin-right: 12px;
}
input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    background-color: #e4e4e4;
    outline: none;
}
.searchbar select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    outline: none;
    color: black;
    background-color: #e4e4e4;
    font-size: 10px;
    font-weight: bold;

}
.searchbar input::placeholder {
    font-size: 12px;

}
.separator {
    font-weight: bold;
}

.productdetailscontainer {
    margin-top: 140px;
    height: 500px;
    width: 100%;
    background-color: ;
    gap: 20px;
}
#mainImage {
    height: 300px;
    width: 100%;
}
.thumbnailgallery {
    display: flex;
    
}
.thumbnailgallery img {
    height: 100px;
    width: 33.33%;
    padding: 3px;
}
.productinfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    height: 50px;
    width: 100%;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
}

/* product-detail.css 
.product-detail-container {
    display: flex;
    gap: 20px;
}

.product-images, .product-info, .seller-info {
    flex: 1;
}

#mainImage {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.thumbnail-gallery {
    display: flex;
    gap: 5px;
}

.thumbnail-gallery img {
    width: 60px;
    cursor: pointer;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    font-size: 24px;
    color: green;
}

button {
    padding: 10px 16px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}*/