* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#main {
  width: 90%;
  line-height: 40px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#header {
  text-align: center;
  padding: 10px 0;
}

#top {
  text-align: left;
  padding: 20px;
  border-top: 1.5px solid #80808080;
  border-bottom: 1.5px solid #80808080;
}

#top h3 {
  margin: 0;
  font-size: 18px;
}

#content {
  padding: 20px;
}

#content h4 {
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

#content p {
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

#content p:hover {
  text-decoration: none;
  cursor: pointer;
}
