* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color:
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 0.5rem;
    background-color: white;
}
.header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding-right: 0.5rem;
}

.nav {
    display: flex;
    align-items:
}
.logo {
    height: 68px;
    width: %;
    background-color: transparent;
}

.header img {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.iconbtn {
    background-color: transparent;
    border: none;
    color: green;
    font-size: 24px;
    cursor: pointer;
    margin-bottom:
    cursor: pointer;

}
#profilebtn {
    margin-left: 70px;
    margin-right: 20px;
}
.searchsection {
    background-color:
    justify-content: space-between;
    display: flex;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
    padding: 10px;
    color: white;
    width: 90%;
    border-radius: 15px;
    height: 40px;
    margin-right: 12px;
}
input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    background-color: #e4e4e4;
    outline: none;
}
.searchbar select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    outline: none;
    color: black;
    background-color: #e4e4e4;
    font-size: 10px;
    font-weight: bold;

}
.searchbar input::placeholder {
    font-size: 12px;

}
.separator {
    font-weight: bold;
}
.additemctn {
    margin-top: 140px;
}
.additemctn h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #626b29;
    font-weight: bold;
    font-family: Comic Sans MS;
}

.additemctn form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.additemctn label {
    font-weight: bold;
    font-family: Tahoma;
}

.additemctn input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.additemctn button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.additemctn button:hover {
    background-color: #45a049;
}
.additemctn input {
    background-color: transparent;
}
#categories {
    height: 40px;
    width: 60%;
    color: black;
    text-decoration: none;
    font-size: 15px;
    
}