@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
:root{
    --primary-color: green;
    --second-color:#ffffff;
    --black-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: 
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 0.5rem;
    background-color:  ;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 10;
    transition: padding 0.3s ease;
    flex-direction: column;
}
.upnav {
    display: flex;
    background-color: ;
    height: 50px;
    width: 100%;
}
.downnav {
    background-color: 
    height: 50px;
    width: 100%;
}

.navbar-left {
    width: 10%;
    height: 100%;
    display: flex
    align-items: 
    gap: 
    background-color: 
}
#hamburger {
    padding: 0.5rem;
}
.navbar-center {
    width: 60%;
    height: 100%;
    background-color: ;
    display: flex;
    justify-content: cen
}
.navbar-center img {
    height: 100%;
    width: 100%;
    ;
}
.navbar-right {
    background-color: ;
    width: 30%;
    height: 100%;
    display: flex;
}
#profilebtn {
    margin-left: 20px;
    margin-bottom: 5px;
}
#cartbtn {
    margin-left: 20px;
     margin-bottom: 5px;
}
.navbar-left a, .navbar-right a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.navbar-left img {
    width: 100px;
    margin-left: 50px;
    height: %;
}

.header {
    height: 130px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding-right: 0.5rem;
}*/
.nav {
    display: flex;
    align-items:
    justify-content: space-between;
}
.logo {
    height: 68px;
    width: %;
    background-color: transparent;
    padding-left: px; 
}

.header img {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
.iconbtn {
    background-color: transparent;
    border: none;
    color: green;
    font-size: 24px;
    cursor: pointer;
    margin-bottom:
    cursor: pointer;

}
.searchsection {
    background-color:
    justify-content: center;
    display: flex;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
    padding: 10px;
    color: white;
    width: 85%;
    border-radius: 15px;
    height: 40px;
    margin-right: 12px;
}
input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
    height: 40px;
    background-color: #e4e4e4;
    outline: none;
}
.searchbar select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    outline: none;
    color: black;
    background-color: #e4e4e4;
    font-size: 10px;
    font-weight: bold;

}
.searchbar input::placeholder {
    font-size: 12px;

}
.separator {
    font-weight: bold;
}
#sidemenu {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #fbfcf8;
    top: 0;
    left: -105%;
    padding: 15px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}




#sidemenu ul {
    list-style: none;
    padding: 0;
}

#sidemenu ul li {
    margin: 15px 0;
}

#sidemenu ul li a {
    color: green;
    text-decoration: none;
}


#sidemenu.active {
    left: 0;
}
.menuhead {
    height: 60px;
}
.menubuttom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#sellbtn {
    height: 50px;
    width: 200px;
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
}
.menubuttom a {
    text-decoration: none;
    color: green;
    margin-top: 10px;
}
#profilemenu {
    position: fixed;
    width: 300px;
    height: 500px;
    background-color: #fbfcf8;
    top: 0;
    right: -105%;
    padding: 15px;
    transition: right 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    margin-right: 10px;
    padding: 0.5rem;
    border-radius: 10px;
}
#profilemenu.active {
    right: 0;
}
.filter{
    margin-top: 100px;
}
.filter button {
    width: 70px;
    height: 30px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
.product-listing {
    display: grid;
    grid-template-columns: repeat(2, auto);
    
    gap: 1rem;
    
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-card p {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1rem;
}

.product-card button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.container{
    display: flex;
    width: 100%;
    padding-inline:
    gap: 50px;
    margin-top: 20px;
}
